// chat.pug


.row
  ul(id="messages")
.row(class="col-sm-12" style="position: relative; top:90%; transform: translateY(-90%); ")
  form( action="")
    div(class="form-group row")
      div(class="col-sm-10")
        input(id="m" type="text" class="form-control" autocomplete="off")
        input(id="receiver_id" type="hidden" value="")
      button(class="btn btn-primary col-sm-2") Send
