// - enquiry.pug

div(class="box" style="cursor:pointer;")
  div(class="enquiry-basic" data-toggle="collapse" data-target="#enquiry-basic-id")
    table(class="table")
      tr
        td
          h3 05:43
        td
          b Brightoil Gem
          br
          |Grade: RMG360
          br
          |Qty: 7000~75000MT
        td(style="vertical-align: middle;")
          span(class="badge" style="font-size: 15px;") 4
  div(id="enquiry-basic-id" class="collapse")
    |Lorem ipsum sfsdlfjdsklfjl
